<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Playwright Automation Suite" parallel="false">
    <test name="Playwright Basic Tests">
        <classes>
            <class name="PlaywrightTest"/>
        </classes>
    </test>
</suite>

